name: CI

on:
  push:
    branches:
      - feature/gh-pages

jobs:
  main:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Cache node modules
      uses: actions/cache@v1
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.cache/yarn
        key: ${{ runner.os }}-projectname-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
        restore-keys: |
          ${{ runner.os }}-projectname-

    - name: Install node modules
      if: steps.cache.outputs.cache-hit != 'true'
      run: yarn install

    - name: Lint
      run: npm run lint

    - name: Unit Test
      run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI

#    - name: E2E Test
#      run: npm run e2e -- --protractor-config=e2e/protractor-ci.conf.js

    - name: Build
      run: npm run build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        publish_dir: ./dist/ngx-ripple
